body {
  background-color: #ccc;
  margin: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

header {
  background-color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  overflow: auto;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d3d3d3;
}

li a.active {
  background-color: #d3d3d3;
}*/

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* start of css style for home page */

.icons {
  padding: 20px;
  display: flex;
  display: inline-flex;
  flex-direction: row;
}

.icons img {
  width: 30%;
}

.icons .column {
  float: left;
  width: 33%;
  padding: 20px;
}

/* Clear floats after icon containers */
.icons .row::after {
  content: "";
  clear: both;
  display: table;
}

.icons .container {
  width: 100%;
}

.icons .container button {
  background-color: #eb7623;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
}

.icons .container button:hover {
  background-color: #ffc963;
  color: black;
}

@media screen and (max-width: 600px) {
  .icons {
    display: flex;
    flex-direction: column;
  }
}

/* end of css style for home page */

/* start of css style for about page */
.aboutcontainer {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.container1 {
  width: 100%; 
  height: 550px;
  text-align: right;
  overflow: hidden;
}

.container1 img {
  float: right;
  margin-right: 6%;
  width:37%;
}

.container1 h1 {
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 50%;
  font-size: 30px;
}
.container1 p {
  margin-left: 15%;
  margin-right: 50%;
  font-size: 20px;
  line-height: 1.6;
}

.container2 {
  width: 100%; 
  height: 400px;
  background-color: #eb7623;
  overflow: hidden;
}

.border {
  border-style: solid;
  border-color: #f7e3b5;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2%;
  width: 55%;
  float: left;
}

.container2 img {
  width: 60%;
}

.container2 h1 {
  margin-top: 9%;
  margin-left: 80%;
  margin-right: 9%;
  font-size: 30px;
}

.container2 p {
  margin-left: 72%;
  margin-right: 9%;
  font-size: 20px;
  line-height: 1.6;
  text-align: right;
}

.container3 {
  width: 100%; 
  height: 480px;
  overflow: hidden;
  padding: 80px 0px;
}

.container3 form {
  margin-top: 5%;
  margin-right: 6%;
  font-size: 20px;
  width: 40%;
  float: right;
}

.container3 form input[type=text], textarea {
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border: 1px solid #f2f2f2;
  resize: vertical;
  background-color: #f2f2f2;
}

.container3 form input[type=submit] {
  font-size: 20px;
  background-color: #ffc963;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  float: right;
}

.container3 form input[type=submit]:hover {
  background-color: #eb7623;
  color: white;
}

.container3 h1 {
  font-size: 30px;
  margin-left: 10%;
}
.container3 p {
  font-size: 20px;
  line-height: 1.6;
  margin-left: 10%;
  margin-right: 60%;
}

.container3 img {
  width: 40%;
}

/* end of css style for about page */

/* start of css style for donate page */
.donatecontainer {
  width: 100%;
  border-color: #ccc;
  margin: 0px;
}

.donatecontainer .column {
  display: table-cell;
  float: left;
  width: 50%;
  padding: 10px;
  padding-left: 20px;
}

.donatecontainer .column .bg {
  background-color: #ffc963;
}

.donatecontainer .bg h1 {
  margin-top: 0px;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.donatecontainer h1 {
  font-size: 30px;
  padding-top: 10px;
  margin: 2px;
}


.donatecontainer .row:after {
  content: "";
  display: table;
  clear: both;
}

.donatecontainer img {
  padding: 0px 50px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: inline-block;
  padding-bottom: 74px;
}

.donatecontainer svg {
  padding-left: 20px;
  height: 20px;
  width: 100%;
}

.donatecontainer line {
  stroke:#eb7623;
  stroke-width:5;
} 

.donatecontainer p .fstyle {
  width: 85%;
  font-style: italic;
  padding-bottom: 30px;
}

.donatecontainer progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 25px;
  text-align: center;
}

.donatecontainer progress:before {
  content: attr(data-text);
  font-size: 0.8em;
}

.donatecontainer progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
}

.donatecontainer progress[value]::-webkit-progress-value {
  background-color: #eb7623;
  border-radius: 50px; 
}

.donatecontainer .donor {
  border: 5px solid #ffc963;
  padding: 10px;
  width: 200px;
  line-height: 5px;
  border-radius: 5px;
}

.donatecontainer button {
  background-color: #eb7623;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
}

.donatecontainer button:hover {
  background-color: #ffc963;
  color: black;
}

/* Full-width input fields */
.form-container input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.form-container input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container button {
  background-color: #eb7623;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-container button:hover {
  background-color: #ffc963;
  color: black;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.form-container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #302c28;
  padding-top: 30px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; 
  border: 1px solid #888;
  width: 50%; 
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Set a style for all buttons */
.clearfix button {
  background-color: #eb7623;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.clearfix button:hover {
  background-color: #ffc963;
  color: black;
}

/* end of css style for donate page */

/* start of css style for login page */

.logincontainer {
  width: 70%;
  margin: 5% auto 5% auto;
  background-color: white;
}

.logincontainer .column {
  float: left;
  width: 50%;
  height: 600px;
  padding: 10px;
}

.logincontainer .row:after {
  content: "";
  display: table;
  clear: both;
}

.logincontainer .center{
  position: absolute;
  top: 30%;
  left: 22%;
  right: 56%;
  text-align: center;
}


.logincontainer input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.logincontainer button {
  background-color: #eb7623;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.logincontainer button:hover {
  opacity: 0.8;
}

.logincontainer .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #eb7623;
}

.logincontainer .signupbtn {
  padding: 10px 18px;
  background-color: #eb7623;
}

.logincontainer span.psw {
  float: right;
  padding-top: 16px;
}
.logincontainer .pswdesc {
  float:left;
  font-size:12px;
}

/* end of css style for login page */


/*start news css*/
/* Center website */
.news .main {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.news h1 {
  font-size: 50px;
  word-break: break-all;
}

.news .row {
    overflow: hidden;
}

/* Add padding BETWEEN each column */
.news .row,
.news .row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.news .column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.news .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.news .content {
  background-color:#f7e3b5;
  padding: 10px;
  width: 50%;
  float: none;
  margin: 0 auto;
}

/* The "show" class is added to the filtered elements */
.news .show {
  display: block;
}

/* Style the buttons */
.news .btn {
  border: none;
  outline: none;
  padding: 20px 20px;
  background-color:#f7e3b5;
  cursor: pointer;
}

.news .btn:hover {
  background-color: #ddd;
}

.news .btn.active {
  background-color: #666;
  color: white;
}
/*end*/

/*start ngo css*/
/* Center website */
.ngo .main {
  max-width: 1000px;
  margin: auto;
}

.ngo h1 {
  font-size: 50px;
  word-break: break-all;
}

.ngo .row {
  overflow: hidden;
}

/* Add padding BETWEEN each column */
.ngo .row,
.ngo .row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.ngo .column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.ngo .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.ngo .content {
  background-color: #f7e3b5;
  padding: 10px;
  width: 50%;
  float: none;
  margin: 0 auto;
}

/* The "show" class is added to the filtered elements */
.ngo .show {
  display: block;
}

/* Style the buttons */
.ngo .btn {
  border: none;
  outline: none;
  padding: 20px 20px;
  background-color: #f7e3b5;
  cursor: pointer;
}

.ngo .btn:hover {
  background-color: #ddd;
}

.ngo .btn.active {
  background-color: #666;
  color: white;
}
/*end*/

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

footer {
  background: #eb7623; 
  bottom: 0;
  padding:5px;
  width: 100%;
}

footer p { 
  text-align:center;
  color:#ffff;
  font-size: 14px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  article {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .donatecontainer .column {
    width: 100%;
  }
}

/**Adam**/


.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f7d19c;
    color: black;
}

.topnav a.active {
    background-color: #E3E3E3;
    color: #000000;
}

.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.donation-header {
	background-color: azure;
}



.filterandbox {
	background-color: white;
}


.filter {
	 float: left;
    margin-left: 10px;
    width: 20%;
	background-color: white;

}
.filter h2{
  
}


@media screen and (max-width : 1080px ){

.filter {
	 float: left;
    margin-left: 2px;
    width: 100%;

}
}

* {
  box-sizing: border-box;
}

.flex-container {
	width: 310px;
	/*border: solid lightgrey;
	display: flex;*/
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: space-between;
	justify-items: center;
	grid-gap: 20px;
    /* 
    flex-direction: row;
	display: inline-block;
    font-size: 25px;
    text-align: center;
    margin-top: 51px;
    margin-left: 145px;
    padding-bottom: 30px;
	*/
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.column-3 {
	float: left;
	margin-left: 5px;
	width: 33.33%;
	padding: 10px;
	height: 300px;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    margin-left: 70px;
}

.flex-item-left-sum {
    padding: 1px;
    flex: 50%;
	/* background-color: #f1f1f1; 
    margin-left: 70px;*/
}

.icons .flex-item-left-sum p {
    font-size: 25px;
	text-align: center;
}

.icons .lastupdated {
	flex-basis: 50%;
}

.flex-item-right {
    background-color: #EBEBEB;
    padding: 10px;
    flex: 50%;
    margin-left: 70px;
}

.donation-header .donation-pic img{
	width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
	/*float: center;*/
  }

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    margin-left: -80px;
	margin-right: 20px;
}

.flex-item-right {
    background-color: #EBEBEB;
    padding: 10px;
    flex: 50%;
    margin-left: -80px;
	margin-right: 20px;
}
	.donation-header .donation-pic img{
	display:none;
}

}

a:active {
  text-decoration: none;
	color: black;
}
a:link {
  text-decoration: none;
	color: black;
}

a:visited {
  text-decoration: none;
	color: black;
}

a:hover {
  text-decoration: none;
	color: #eb7623;
}

p{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

#list-donation {
    font-size: 25px;
	position: relative;
	left: 50px;
}

th{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    
}

td{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    
}


#h-PPE {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}


.resithead {
    background-color: #f7d19c;
    width: 100%;
    margin-left: -1px;
}


.resithead h1{
    float: left;
    margin-left: 250px;
    margin-top: 138px;
    font-size: 53px;
    color: #737373;
    margin-right: 54px;
}

#disk_d {
    margin-left: 44px;
}
.resithead2 {
    background-color: #cc8b37;
    width: 100%;
    margin-left: -1px;
    margin-top: -10px;
}

.resithead2 .donmeter h1{
    float: left;
    font-size: 53px;
    border: 2px solid white;
    padding-top: 99px;
    padding-right: 99px;
    padding-left: 99px;
    padding-bottom: 99px;
    border-radius: 13px;
    margin-left: 110px;
}

.resithead1 img{
    float: right;
    margin-right: 149px;
}



.besidedon {
    width: 53%;
    margin-top: 102px;
    margin-left: -36px;
}

.besidedon h2 {
    font-size: 65px;
    text-align: center;
    color: #F4F4F4;
    margin-top: 33px;
    margin-left: 269px;
    margin-right: -319px;
}

.besidedon h3 {
    font-size: 35px;
    text-align: center;
    margin-right: 6px;
    color: #FFFFFF;
    margin-top: 111px;
}

.donmeter label {
    color: #FFFFFF;
	
	
}

.thanks h1{
    margin-left: 563px;
    font-weight: bold;
    border-left-color: #EC1619;
    border-right-color: #EC1619;
    border-bottom: thick solid #cc8b37;
    border-top-color: #EC1619;
    padding-bottom: 16px;
}
.btntu {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

/* Darker background on mouse-over */
.btntu:hover {
  background-color: RoyalBlue;
}	
#tangann {
    margin-left: 124px;
}

#trimas {
    text-decoration: underline green;
    background-color: #F8F3F3;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: -4px;
}

.resitsuccess {
    background-color: #F8F8F8;
}

@media screen and (max-width : 1080px ){

.resithead h1{
  
    margin-left: 50px;
    margin-top: 70px;
    font-size: 35px;
    color: #737373;
}
#tangann {
	float: right;
    margin-left: 170px;
	margin-bottom: 20px;
	width:145px;
	height: 145px;
}

.resithead2 .donmeter h1{
    float: left;
    font-size: 33px;
    border: 2px solid white;
	padding: 30px;
	margin-left: 28px;
 
}
	.donmeter{
		margin-right: 50px;
		margin-left: 20px;
	}
	
	.donmeter label {
    color: #FFFFFF;
	margin-left: 40px;
	
}
	
	
#disk_d {
    margin-left: 74px;
}
.besidedon {
    width: 100%;
    margin-top: -34px;
    margin-left: -2px;
}

.besidedon h2 {
    font-size: 35px;
   margin-right: 5px;
	margin-left: 10px;
    color: #F4F4F4;
}

.besidedon h3 {
    font-size: 25px;
    text-align: center;
    margin-right: 6px;
    color: #FFFFFF;
    margin-top: -25px;
}
	
.thanks h1{
    margin-left: 24px;
    font-weight: bold;
    border-left-color: #EC1619;
    border-right-color: #EC1619;
    border-bottom: thick solid #cc8b37;
    border-top-color: #EC1619;
    padding-bottom: 16px;
}
.btntu {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

/* Darker background on mouse-over */
.btntu:hover {
  background-color: RoyalBlue;
}	


}